body {
  background-image: url(/Users/danfoster/Desktop/Coding-Class/homework/week1/Basic-Portfolio/assets/images/retina_wood.png);
  margin: 0;
  padding-top: 0;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

.container1 {
  width: 960px;
  margin: 0 auto;
}

.header {
  background: white;
  width: 100%;
  display: block;
  margin-bottom: 25px;
  border-bottom: 5px solid black;
}

h1 {
  color: white;
  display: inline-block;
  background-color: teal;
  margin-left: 30px;
  margin-top: 0;
  /* margin-right: 0; */
  margin-bottom: 30px;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  font-family: "Georgia", Times, Times New Roman, serif;
  font-size: 24px;
  /* float: left; */
}

a {
  color: gray;
  text-decoration: none;
}

.page-links {
  color: gray;
  background-color: white;
  margin: 10px;
  text-align: right;
  padding: 18px;
  font-size: 14px;
  float: right;
  text-decoration: none;
}

.about-me {
  color: teal;
  background-color: white;
  float: left;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
  width: 650px;
  position: relative;
  text-align: left;
  padding: 20px;
}

.accounts {
  color: teal;
  background-color: white;
  width: 270px;
  float: right;
  text-align: center;
}

#connect-with-me {
  position: relative;
  text-align: center;
}

footer {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  color: white;
  text-align: center;
  background-color: gray;
  padding: 18px;
  font-size: 12px;
}

#about-me-text #connect-with-me {
  float: left;
}

#connect-with-me {
  position: relative;
  text-align: center;
}

#github #linkedin #stack-overflow {
  width: 33.3%;
}